<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">BLASALDA</a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="showMenuAdmin">
          <a
            class="nav-link"
            routerLink="/dashboard/huespedes"
            routerLinkActive="active"
            >Huespedes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/dashboard/reservaciones"
            routerLinkActive="active"
            >Reservaciones</a
          >
        </li>
        <li class="nav-item" *ngIf="showMenuAdmin">
          <a
            class="nav-link"
            routerLink="/dashboard/habitaciones"
            routerLinkActive="active"
            >Habitaciones</a
          >
        </li>
        <li class="nav-item" *ngIf="showMenuAdmin">
          <a
            class="nav-link"
            routerLink="/dashboard/usuarios"
            routerLinkActive="active"
            >Usuarios</a
          >
        </li>
      </ul>
    </div>
    <label class="main">
      Menu
      <input class="inp" checked="" type="checkbox" />
      <div class="bar">
        <span class="top bar-list"></span>
        <span class="middle bar-list"></span>
        <span class="bottom bar-list"></span>
      </div>
      <section class="menu-container">
        <div *ngIf="showMenuAdmin" [routerLink]="['/dashboard/huesped/crear']" class="menu-list">
          Crear huesped
        </div>
        <div class="menu-list">Entertainment</div>
        <div class="menu-list">Blog</div>
        <div (click)="logout()" class="menu-list">Cerrar sesión</div>
      </section>
    </label>
  </div>
</nav>
